@model ClassesMarmitex.HorarioEntrega

<div class="profile-content-backfull">
    <h2>Editar horário de entrega</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>

    <div class="col-md-10">
        @if (ViewBag.MensagemCarregamentoEditarHorarioEntrega != null)
        {
            <script>
                swal({
                    title: 'Oops',
                    html: "@ViewBag.MensagemCarregamentoEditarHorarioEntrega",
                    type: 'error',
                    confirmButtonText: 'Ok'
                }).then(function () {
                    window.location = "@Session["urlBase"]/HorarioEntrega/";
                    });
            </script>
        }
        else
        {
            <form method="post" action="@Session["urlBase"]/HorarioEntrega/EditarHorario">

                @Html.Partial("_FormHorarioEntrega")

                <div class="col-md-12">
                    <div class="buttons-formcontrol">
                        <input type="submit" class="btn btn-success" value="salvar" />
                    </div>
                </div>

            </form>
        }
    </div>
</div>
