
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/bubble.css" rel="stylesheet" />
</head>

<div class="profile-content">
    <row>
        <h1 class="text-left">Horários de entrega</h1>

        <div class="text-right">
            <a href="/Produtos/Adicionar" class="btn btn-success">adicionar horário de entrega</a>
        </div>
        <hr />
        <div class="col-md-12 bubble">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <div class="col-md-3">
                        <h4>horário</h4>
                        <div class="bubble-item">
                            <p>11:00 hrs</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h4>status</h4>
                        <div class="bubble-item bubble-status">
                            <input type="checkbox" value="None" id="status1" name="check" checked />
                            <label for="status1"></label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h4>ações</h4>
                        <div class="text-center bubble-item">
                            <a href="#" style="color: #1a9c21"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="#" style="color: #bc2026"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <div class="col-md-3">
                        <div class="bubble-item">
                            <p>12:00 hrs</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="bubble-item bubble-status">
                            <input type="checkbox" value="None" id="status2" name="check" checked />
                            <label for="status2"></label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-center bubble-item">
                            <a href="#" style="color: #1a9c21"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="#" style="color: #bc2026"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <div class="col-md-3">
                        <div class="bubble-item">
                            <p>13:00 hrs</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="bubble-item bubble-status">
                            <input type="checkbox" value="None" id="status3" name="check" checked />
                            <label for="status3"></label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-center bubble-item">
                            <a href="#" style="color: #1a9c21"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="#" style="color: #bc2026"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </row>
</div>
