
@{
    ViewBag.Title = "Adicionar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile-content">
    <h2>Adicionar produto</h2>
    <div class="col-md-10">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nomeProduto">nome produto</label>
                <input type="text" id="nomeProduto" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="descricaoProduto">descrição</label>
                <input type="text" id="descricaoProduto" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="cardapioProduto">cardápio</label>
                <select>
                    <option>Massas Italianas</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="precoProduto">R$ preço</label>
                <input type="text" id="precoProduto" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="imagemProduto">imagem</label>
                <input type="image" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="buttons-formcontrol">
                <button class="btn btn-success">adicionar produto</button>
            </div>
        </div>
    </div>

</div>
