@model  ClassesMarmitex.Produto

<div class="profile-content-backfull">
    <h2>Adicionar produto</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>

    <div class="col-md-10">
        @if (ViewBag.MensagemCarregamentoAdicionarProduto != null)
        {
            <script>
                swal({
                    title: 'Oops',
                    html: "@ViewBag.MensagemCarregamentoAdicionarProduto",
                    type: 'error',
                    confirmButtonText: 'Ok',
                    confirmButtonColor: corConfirmacao,
                    cancelButtonColor: corCancelar
                }).then(function () {
                    //volta para a tela de produtos
                    window.location = "@Session["urlBase"]/Produto/";
                    });
            </script>
        }
        else
        {
            <form method="post" action="@Session["urlBase"]/Produto/AdicionarProduto" enctype="multipart/form-data">

                @Html.Partial("_FormProduto")

                <div class="col-md-12">
                    <div class="buttons-formcontrol">
                        <input type="submit" class="btn btn-success" value="adicionar produto" />
                    </div>
                </div>
            </form>
        }
    </div>
</div>
