@model  ClassesMarmitex.Produto

<div class="profile-content">
    <h2>Adicionar produto</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>
    <div class="col-md-10">
    
        <form method="post" action="@Session["urlBase"]/Produto/AdicionarProduto" enctype="multipart/form-data">

            @Html.Partial("_FormProduto")

            @*se houver alguma mensagem de erro no cadastro do produto, lança um alert com a mensagem*@
            @if (Session["MensagemErroCadProduto"] != null)
            {
                <script>
                    swal(
                        'Oops...',
                        '@Session["MensagemErroCadProduto"]',
                        'error'
                    );
                </script>
            }

            <div class="col-md-12">
                <div class="buttons-formcontrol">
                    <input type="submit" class="btn btn-success" value="adicionar produto" />
                </div>
            </div>
        </form>

    </div>
</div>
