@model  ClassesMarmitex.Produto

<div class="profile-content">
    <h2>Adicionar produto</h2>
    <div class="col-md-10">
    
        <form method="post" action="@Session["urlBase"]/Produto/AdicionarProduto">

            @Html.Partial("_FormProduto")

            <div class="col-md-12">
                <div class="buttons-formcontrol">
                    <input type="submit" class="btn btn-success" value="adicionar produto" />
                </div>
            </div>
        </form>

    </div>
</div>
