@model ClassesMarmitex.DadosProdutoAdicionalProduto

@{
    ViewBag.Title = "Produto";
}

<div class="profile-content-backfull">
    <h2>Editar produto adicional</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>
    <div class="col-md-10">
        <form method="post" action="@Session["urlBase"]/Produto/EditarProdutoAdicionalProduto" enctype="multipart/form-data">

            @Html.Partial("_FormProdutoAdicionalProduto")

            <div class="col-md-12">
                <div class="buttons-formcontrol">
                    <input type="submit" class="btn btn-success" value="salvar" />
                </div>
            </div>

        </form>
    </div>
</div>