@model List<ClassesMarmitex.MenuCardapio>

@{
    ViewBag.Title = "Produto";
}

<div class="profile-content-backfull">
    <row>
        <div id="produto">
            @Html.Partial("_Produto")
        </div>
    </row>
</div>
