<div class="profile-content-backfull">
    <row>

        <a href="#produto" data-toggle="collapse">Produtos</a>
        <a href="#produtoAdicional" data-toggle="collapse">Produtos Adicionais</a>

        <div id="produto" class="collapse">
            @Html.Partial("_Produto")
        </div>

        <div id="produtoAdicional" class="collapse">
            @Html.Partial("_ProdutoAdicional")
        </div>

    </row>
</div>
