@model  ClassesMarmitex.Brinde

@{
    ViewBag.Title = "Brinde";
}

<div class="profile-content">
    <h2>Adicionar brinde</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>
    <div class="col-md-10">

        <form method="post" action="@Session["urlBase"]/Brinde/AdicionarBrinde" enctype="multipart/form-data">

            @Html.Partial("_FormBrinde")

            <div class="col-md-12">
                <div class="buttons-formcontrol">
                    <input type="submit" class="btn btn-success" value="adicionar brinde" />
                </div>
            </div>
        </form>

    </div>
</div>
