@model  ClassesMarmitex.Brinde

<div class="profile-content">
    <h2>Adicionar brinde</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>
    <div class="col-md-10">

        <form method="post" action="@Session["urlBase"]/Brinde/AdicionarBrinde" enctype="multipart/form-data">

            @Html.Partial("_FormBrinde")

            @*se houver alguma mensagem de erro no cadastro do brinde, lança um alert com a mensagem*@
            @if (ViewBag.MensagemErroCadBrinde != null)
            {
                <script>
                    swal(
                        'Oops...',
                        '@ViewBag.MensagemErroCadBrinde',
                        'error'
                    );
                </script>
            }

            <div class="col-md-12">
                <div class="buttons-formcontrol">
                    <input type="submit" class="btn btn-success" value="adicionar brinde" />
                </div>
            </div>
        </form>

    </div>
</div>
