
@{
    ViewBag.Title = "Adicionar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile-content">
    <h2>Adicionar parceiro</h2>
    <div class="col-md-10">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nomeParceiro">nome parceiro</label>
                <input type="text" id="nomeParceiro" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="descricaoParceiro">descrição</label>
                <input type="text" id="descricaoParceiro" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="codigoParceiro">código parceiro</label>
                <input type="text" id="codigoParceiro" class="form-control" />
            </div>
        </div>
        @*Endereço*@
        <div class="col-md-12">
            <div class="form-group">
                <label for="cepParceiro">cep</label>
                <input type="text" id="cepParceiro" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="ufParceiro">uf</label>
                <input type="text" id="ufParceiro" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="cidadeParceiro">cidade</label>
                <input type="text" id="cidadeParceiro" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="bairroParceiro">bairro</label>
                <input type="text" id="bairroParceiro" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="logradouroParceiro">logradouro</label>
                <input type="text" id="logradouroParceiro" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="nrEnderecoParceiro">número Endereço</label>
                <input type="text" id="nrEnderecoParceiro" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="complementoEndParceiro">complemento Endereço</label>
                <input type="text" id="complementoEndParceiro" class="form-control" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="buttons-formcontrol">
                <button class="btn btn-success">adicionar parceiro</button>
            </div>
        </div>
    </div>

</div>
