@model  ClassesMarmitex.DadosBrindeParceiro

<div class="profile-content">
    <h2>Adicionar brinde para o parceiro</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>
    <div class="col-md-10">
        <form method="post" action="@Session["urlBase"]/Parceiro/AdicionarBrindeParceiro" enctype="multipart/form-data">

            @Html.Partial("_FormBrindeParceiro")

            <div class="col-md-12">
                <div class="buttons-formcontrol">
                    <input type="submit" class="btn btn-success" value="adicionar brinde para o parceiro" />
                </div>
            </div>
        </form>

    </div>
</div>
