@model ClassesMarmitex.ParceiroCadastro

<div class="profile-content-backfull">
    <h2>Editar parceiro</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>
    <div class="col-md-10">
        @if (ViewBag.MensagemCarregamentoEditarParceiro != null)
        {
            <script>
                swal({
                    title: 'Oops',
                    html: "@ViewBag.MensagemCarregamentoEditarParceiro",
                    type: 'error',
                    confirmButtonText: 'Ok',
                    confirmButtonColor: corConfirmacao,
                    cancelButtonColor: corCancelar
                }).then(function () {
                    window.location = "@Session["urlBase"]/Parceiro/";
                    });
            </script>
        }
        else
        {
            <form method="post" action="@Session["urlBase"]/Parceiro/EditarParceiro">

                @Html.Partial("_FormParceiro")


                <div class="col-md-12">
                    <div class="buttons-formcontrol">
                        <input type="submit" class="btn btn-success" value="salvar" />
                    </div>
                </div>

            </form>
        }
    </div>
</div>
