@model IList<ClassesMarmitex.Parceiro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="profile-content-backfull">
        <h1 class="text-left">Parceiros</h1>

        <div class="text-right">
            <a href="/Parceiro/Adicionar" class="btn btn-success">adicionar parceiro</a>
        </div>
        <hr />

        <div class="col-md-12">
            @if (Model != null)
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>nome</th>
                                <th>descrição</th>
                                <th>endereço</th>
                                <th>código parceiro</th>
                                <th>ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Lojas Marisa</td>
                                <td>Lojas de roupas e calçados, próxima ao fórum trabalhista</td>
                                <td>Rua Dr. Carmelo Jorge Almeida, 19 - Barra Funda</td>
                                <td>J9PHQ</td>
                                <td>
                                    <a href="#" style="color: #1a9c21"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a href="#" style="color: #bc2026"><i class="glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                    </table>
                </div>

            }
            else
            {
                <div class="text-center">
                    <p>@ViewBag.MensagemParceiros</p>
                </div>
            }

        </div>
    </div>
</div>