@model ClassesMarmitex.MenuCardapio

@{
    ViewBag.Title = "Categorias de produtos";
}

<div class="profile-content">
    <h2>Adicionar cardápio</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>
    <div class="col-md-10">
        <form method="post" action="@Session["urlBase"]/Cardapio/AdicionarCardapio">

            @Html.Partial("_FormCardapio")

            <div class="col-md-12">
                <div class="buttons-formcontrol">
                    <button class="btn btn-success">adicionar cardápio</button>
                </div>
            </div>
        </form>
    </div>
</div>