@model ClassesMarmitex.MenuCardapio

@{
    ViewBag.Title = "Categorias de produtos";
}

<div class="profile-content">
    <h2>Adicionar cardápio</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>
    <div class="col-md-10">
        @if (ViewBag.MensagemCarregamentoEditarCardapio != null)
        {
            <script>
                swal({
                    title: 'Oops',
                    html: "@ViewBag.MensagemCarregamentoEditarCardapio",
                    type: 'error',
                    confirmButtonText: 'Ok',
                    confirmButtonColor: corConfirmacao,
                    cancelButtonColor: corCancelar
                }).then(function () {
                    window.location = "@Session["urlBase"]/Cardapio/";
                    });
            </script>
        }
        else
        {
            <form method="post" action="@Session["urlBase"]/Cardapio/EditarCardapio">

                @Html.Partial("_FormCardapio")

                <div class="col-md-12">
                    <div class="buttons-formcontrol">
                        <button class="btn btn-success">salvar</button>
                    </div>
                </div>
            </form>
        }

    </div>
</div>