@model List<ClassesMarmitex.MenuCardapio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile-content-backfull">
        <row>
            <h1 class="text-left">Cardápio</h1>

            <div class="text-right">
                <a href="/Cardapio/Adicionar" class="btn btn-success">adicionar cardápio</a>
            </div>
            <hr />

            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>nome</th>
                                <th>ordem de exibição</th>
                                <th>ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var cardapio in Model)
                                {
                                <tr>
                                    <td>@cardapio.Nome</td>
                                    <td>@cardapio.OrdemExibicao</td>
                                    <td>
                                        <a href="@Session["urlBase"]/Cardapio/Editar/@cardapio.Id" style="color: #1a9c21"><i class="glyphicon glyphicon-edit"></i></a>
                                        <a href="@Session["urlBase"]/Cardapio/Excluir/@cardapio.Id" style="color: #bc2026"><i class="glyphicon glyphicon-remove"></i></a>
                                    </td>
                                </tr>
                                }
                            }
                    </table>
                </div>

            </div>
        </row>
</div>
