@model ClassesMarmitex.FormaDePagamento

<div class="profile-content-backfull">
    <h2>Adicionar forma de pagamento</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>
    <div class="col-md-10">

        <form method="post" action="@Session["urlBase"]/FormaPagamento/AdicionarPagamento">
            @Html.Partial("_FormFormaPagamento")

            <div class="col-md-12">
                <div class="buttons-formcontrol">
                    <input type="submit" class="btn btn-success" value="adicionar" />
                </div>
            </div>

        </form>

    </div>
</div>
