@model ClassesMarmitex.FormaDePagamento

@{
    ViewBag.Title = "Pagamento";
}

<div class="profile-content-backfull">
    <h2>Editar forma de pagamento</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>

    <div class="col-md-10">
        @if (ViewBag.MensagemCarregamentoEditarFormaPagamento != null)
        {
            <script>
                swal({
                    title: 'Oops',
                    html: "@ViewBag.MensagemCarregamentoEditarFormaPagamento",
                    type: 'error',
                    confirmButtonText: 'Ok',
                    confirmButtonColor: corConfirmacao,
                    cancelButtonColor: corCancelar
                }).then(function () {
                    window.location = "@Session["urlBase"]/FormaPagamento/";
                    });
            </script>
        }
        else
        {
            <form method="post" action="@Session["urlBase"]/FormaPagamento/EditarPagamento">

                @Html.Partial("_FormFormaPagamento")

                <div class="col-md-12">
                    <div class="buttons-formcontrol">
                        <input type="submit" class="btn btn-success" value="salvar" />
                    </div>
                </div>

            </form>
        }
    </div>
</div>
