@model List<ClassesMarmitex.DadosProdutoAdicional>

<h1 class="text-left">Produtos Adicionais</h1>

<div class="text-right">
    <a href="/Produto/Adicionar" class="btn btn-success">adicionar produto adicional</a>
</div>
<hr />

<div class="col-md-12">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>nome</th>
                    <th>descrição</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var produtoAdicional in Model)
                {
                    <tr>
                        <th scope="row">@produtoAdicional.Id</th>
                        <td><a href="@Session["urlBase"]/ProdutoAdicional/Detalhes/@produtoAdicional.Id">@produtoAdicional.Nome</a></td>
                        <td>@produtoAdicional.Descricao</td>
                        <td>
                            <a href="#" style="color: #1a9c21"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="#" style="color: #bc2026"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>