@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile-content">
    <h1 class="text-center text-uppercase">Dashboard</h1>
    <div class="col-md-6">
        <div class="box-dashboard">
            <div class="box-dashboard-item">
                <h3>33</h3>
                <p>pedidos</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box-dashboard">
            <div class="box-dashboard-item">
                <h3>R$ 1.500,00</h3>
                <p>vendas</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box-dashboard">
            <div class="box-dashboard-item">
                <h3>45</h3>
                <p>visitas</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box-dashboard">
            <div class="box-dashboard-item">
                <h3>5</h3>
                <p>parceiros</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box-dashboard">
            <div class="box-dashboard-item">
                <h3>5</h3>
                <p>pedidos atrasados</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box-dashboard">
            <div class="box-dashboard-item">
                <h3>28</h3>
                <p>pedidos entregues</p>
            </div>
        </div>
    </div>
</div>