@model ClassesMarmitex.DadosProdutoAdicional

<div class="profile-content-backfull">
    <h2>Editar produto adicional</h2>
    <p style="font:italic;" class="vermelho-marmitex">os campos com * são de preenchimento obrigatório</p>

    <div class="col-md-10">
        @if (ViewBag.MensagemCarregamentoEditarProdutoAdicional != null)
        {
            <script>
                swal({
                    title: 'Oops',
                    html: "@ViewBag.MensagemCarregamentoEditarProdutoAdicional",
                    type: 'error',
                    confirmButtonText: 'Ok'
                }).then(function () {
                    window.location = "@Session["urlBase"]/ProdutoAdicional/";
                    });
            </script>
        }
        else
        {
            <form method="post" action="@Session["urlBase"]/ProdutoAdicional/EditarProdutoAdicional">

                @Html.Partial("_FormProdutoAdicional")

                <div class="col-md-12">
                    <div class="buttons-formcontrol">
                        <input type="submit" class="btn btn-success" value="salvar" />
                    </div>
                </div>

            </form>
        }
    </div>

</div>
