@model List<ClassesMarmitex.DadosProdutoAdicional>

@{
    ViewBag.Title = "Produto adicional";
}

<div class="profile-content-backfull">
    <row>

        <div id="produtoAdicional">
            @Html.Partial("_ProdutoAdicional")
        </div>

    </row>
</div>
