@model List<ClassesMarmitex.DadosProdutoAdicional>

<div class="profile-content-backfull">
    <row>

        <div id="produtoAdicional">
            @Html.Partial("_ProdutoAdicional")
        </div>

    </row>
</div>
